

@font-face {
  font-family: "Space Grotesk";
  src: url('/assets/fonts/SpaceGrotesk-Regular.woff') format('woff'), url('/assets/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Space Grotesk";
  src: url('/assets/fonts/SpaceGrotesk-Medium.woff') format('woff'), url('/assets/fonts/SpaceGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url('/assets/fonts/SpaceGrotesk-SemiBold.woff') format('woff'), url('/assets/fonts/SpaceGrotesk-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url('/assets/fonts/SpaceGrotesk-Bold.woff') format('woff'), url('/assets/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
